# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Nelson Braillard\Documents\Privé\MavenProjectTest1\PasswordGenerator\PasswordGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
